<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="col-6">
    <h3>Listagem de contatos</h3>
    <a href="(% url 'contact_new' %)">Novo Contato</a>
        <ul class="list-group">
            {% for person in persons %}
        <li class="list-group-item">
            <a href="{% url 'contact_update' contact.id %}">{{contact.first_name }}</a>
            <a href="{% url 'contact_delete' contact.id %}" class="trash-item">
        <li class="fa fa-trash" aria-hidden="true"></link></a>
        </li>
            {% endfor %}
        </ul>

</body>
</html>