1 {% extends 'base.html' %}
2 {% load bootstrap %}
3
4 {% block title %} Administracao {% endblock %}
5
6 {% block main %}
7 <h3>Novo cliente</h3>
8 <form method="POST" enctype="multipart/form-data">
9 {% csrf_token %}
10 {{ form|bootstrap }}
11 <button type="submit" class="btn btn-primary">Salvar</button>
12 </form>
13 {% endblock %}
